[core]
	editor = vim
[user]
	email = craig.s.henriques@gmail.com
	name = craig-sh
[color]
	ui = true
[format]
	pretty = oneline
[push]
	default = simple
[credential]
	helper = cache --timeout=1440
[alias]
	# https://git-scm.com/docs/git-reset#git-reset-emgitresetemltmodegtltcommitgt
	# Undo last commit
	undo = reset --soft HEAD^

	# We wanna grab those pesky un-added files!
	# https://git-scm.com/docs/git-stash
	stash-all = stash save --include-untracked

	# Fancier log, one line per commit
	glog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'

	ffmerge = merge --ff-only

	# Diff the whole directory with meld in one shot
	dirdiff = difftool --dir-diff --tool=meld

[merge]
	tool = meld

[mergetool "meld"]
    # Choose one of these 2 lines (not both!) explained below.
    cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"

# A nice little github-like colorful, split diff right in the console.
# via http://owen.cymru/github-style-diff-in-terminal-with-icdiff/
[diff]
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"
