Sublime3Settings/Packages/User/Package Control.last-run
Sublime3Settings/Packages/User/Package Control.merged-ca-bundle
Sublime3Settings/Packages/User/Package Control.user-ca-bundle
Sublime3Settings/Packages/User/.SublimeREPLHistory/
gains.sublime-project
gains.sublime-workspace
setup.sublime-project
setup.sublime-workspace
.vim
Sublime3Settings/Packages/User/Projects/
neovim/.config/nvim/.netrwhist
neovim/.config/nvim/plugged/
spotifyd/.config/spotifyd/.spotify_pw
neovim/.config/nvim/plugin/packer_compiled.lua
__pycache__/
