@import "catppuccin.css";

* {
    border: none;
    border-radius: 0px;
    font-family: "FantasqueSansM Nerd Font Mono";
    padding-left: 2px;
    padding-left: 2px;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    font-family: inherit;
    background: @base;
    border-bottom: 1px solid @crust;
    color: @surface0;
}

window#waybar.hidden {
    opacity: 0.0;
}
/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces {
    border-radius: 8px;
    background: @surface2;
    transition: none;
    padding-right: 2px;
}

#workspaces button {
    transition: none;
    color:      @rosewater;
}

#workspaces button.visible {
    color:      @flamingo;
}

#workspaces button.active {
    border-bottom: 3px solid @sky;
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    color: @red;
}

#workspaces button:hover {
    border-top: 3px solid @maroon;
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    color: @overlay1;
}

#workspaces button.urgent {
    color:      @yellow;
}

#window {
    color: @flamingo;
    font-size: 12px;
    padding-left: 4px;
}

#mode {
    background: @surface2;
    border-bottom: 3px solid #ffffff;
}

#clock, #battery, #cpu, #memory, #temperature, #backlight, #disk, #network, #pulseaudio, #custom-spotify, #tray, #mode, #idle_inhibitor {
    padding: 0 5px;
    margin: 0 0px;
    color: @crust;
}

#battery {
    background-color: @pink;
}

#battery.charging {
    background-color: @blue;
    color: @green;
}

@keyframes blink {
    to {
        background-color: @red;
        color: @crust;
    }
}

#battery.critical:not(.charging) {
    background: @blue;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#backlight {
    background: @rosewater;
}

#network {
    background: @green;
    font-size: 12px;
}

#disk {
    background: @teal;
}

#memory {
    background: @yellow;
}

#cpu {
    background: @peach;
}

#temperature {
    background: @peach;
}


#custom-spotify {
    background: @green;
}


#network.disconnected {
    background: #ffffff;
}

#pulseaudio {
    background: @mauve;
}

#pulseaudio.muted {
    background: #ffffff;
    color: @red;
}

#clock {
    background-color: @teal;
}

.custom-spotify {
    background: @green;
}

#temperature.critical {
    background: #eb4d4b;
}

#tray {
    background-color: @blue;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}
