priority 0
snippet s_python "src_python" b
#+BEGIN_SRC python
${1}
#+END_SRC
endsnippet

snippet s_bash "src_bash" b
#+BEGIN_SRC bash
${1}
#+END_SRC
endsnippet

snippet s_sql "src_sql" b
#+BEGIN_SRC sql
${1}
#+END_SRC
endsnippet

snippet s_text "src_text" b
#+BEGIN_SRC text
${1}
#+END_SRC
endsnippet

snippet s_haskell "src_haskell" b
#+BEGIN_SRC haskell
${1}
#+END_SRC
endsnippet

snippet s_nix "src_nix" b
#+BEGIN_SRC nix
${1}
#+END_SRC
endsnippet
