snippet s_python "src_python"
    #+BEGIN_SRC python
    ${1}
    #+END_SRC

snippet s_bash "src_bash"
    #+BEGIN_SRC bash
    ${1}
    #+END_SRC

snippet s_sql "src_sql"
    #+BEGIN_SRC sql
    ${1}
    #+END_SRC

snippet s_text "src_text"
    #+BEGIN_SRC text
    ${1}
    #+END_SRC

snippet s_haskell "src_haskell"
    #+BEGIN_SRC haskell
    ${1}
    #+END_SRC

snippet s_nix "src_nix"
    #+BEGIN_SRC nix
    ${1}
    #+END_SRC
