priority -10

snippet debug "logging.error" b
########## DEBUG ################
try:
import logging
except:
pass
try:
from pprint import pformat
except:
pass
logging.error('CRAIG: %s' % pformat(${1}))
########## DEBUG ################
endsnippet
