snippet debug logging.error
    ########## DEBUG ################
    try:
        import logging
    except:
        pass
    from pprint import pformat as pf
    logging.error(f"CRAIG: {pf(${1})}')
    ########## DEBUG ################

snippet argparse "import argparse"
    import argparse
    parser = argparse.ArgumentParser()
    parser.add_argument('site')
    parser.add_argument('-v', '--verbose', action='store_true')
    args = parser.parse_args()
