[Unit]
Description=Set the battery charge threshold
After=multi-user.target
StartLimitBurst=5

[Service]
Type=oneshot
Restart=on-failure
ExecStart=/usr/local/bin/set_battery_thresholds.sh

[Install]
WantedBy=multi-user.target
