[Unit]
Description=Sleep On Lan
After=network.target
StartLimitIntervalSec=10

[Service]
Type=simple
Restart=always
RestartSec=1
StartLimitBurst=3
ExecStart=/usr/local/bin/sol

[Install]
WantedBy=multi-user.target
